@import url('http://fonts.cdnfonts.com/css/chinese-rocks');
body{
background-color:#283149;
color: #DBEDF3;
opacity:1;
font-family: 'Luckiest Guy', cursive;
}
h1{
    font-size: 5em;
    text-align: center;
    color: #00FF7F;
    margin:auto;
    padding:30px 0px 10px 0px;
    font-weight: bold;
      font-family: 'Chinese Rocks Free', arial;
    letter-spacing: 0.08em;
                                                
    
}
.line{
    background-color:black;
    height:2px;
    width:100%
}
.linknav{text-decoration: none;
color: #00FF7F;;}

.list{
    display: flex;
    justify-content: center;
    padding-right:30px ;
}
.listitems{
    font-size: 2em;
    font-weight:lighter ;
    list-style: none;
    text-decoration: none;
    color:#00FF7F;
    padding: 5px 15px ;
}
.linebreak{
    animation:myfade 7s linear 2s infinite alternate;
    width:100%;
    
    padding: 0px;
    margin:60px 0px 30px 0px;
    margin: 0px;
   
    
    }

        @keyframes myfade {
        0%{
            background-color: rgba(40, 49, 73, 1);
            margin:60px 0px 30px 0px;
            height:0px;
            padding: 0px;
          }
      
       100%{
        background-color: rgb(66, 80, 117);
        
         margin:30px 0px 30px 0px;
         padding: 0px;
        height:30px;
           }}
.gendesc{
    font-size: 2.3em;
    letter-spacing: 0.06em;
    padding: 50px 175px;
      font-family: 'Chinese Rocks Free', arial;

    

}

.normal{
    background-image:url("./images/grass.jpg");
    background-size: cover;
    height:200px;
    border-radius:5px;
    margin: 2px;
    width:15%;
    box-sizing: border-box;
    border:3px solid black;
}
.excited{
    background-image:url("./images/hamster.png");
    background-size: cover;
    height:200px;
    border-radius:5px;
    margin: 2px;
    width:15%;
    box-sizing: border-box;
    border:3px solid black;

    
    box-shadow:  5px solid lightgrey;

}
.gametext{
    font-size: 2.3em;
    text-align: center;
      font-family: 'Chinese Rocks Free', arial;
    color:turquoise;
    padding:30px 0px;

}
.game{
    display:flex;
    align-items: center;
    justify-content: space-around;
    }
.desc{
    font-size: 2em;
    text-align: center;
    margin:auto;
    padding:5px 0px;
    font-family: 'Bungee Inline', cursive;
    padding:7px 10px;
    

}
.btns,.bmibtn{
    text-align: center;
    padding: 5px;
}
.startButton,.stopButton{
    width:50px;
    height:50px;
    background-color: lime;
    color:black;
    border:2px solid black;
    border-radius: 3px;
    padding:2px;
    font-family: 'Bangers', cursive;
}
.gamescore{
    text-align:center;
    padding:5px;
    color:#00FF7F;
}
.bmi{
    font-size:4em;
    padding: 30px;
    text-align: center;
    font-weight: bold;
}
.bmi_div {
    text-align: center;

}
.heightbtn,.weightbtn,.calculate{
    height:50px;
    background-color: lime;
    color:black;
    border:2px solid black;
    border-radius: 3px;
    padding:3px;
    font-family: 'Bangers', cursive;
    margin:10px;
    margin-top: 15px;
    margin-bottom:15px ;
}
.urbmi,.bmiresult{
    
    font-size:2em;
    padding: 40px 3px;
    font-weight: bolder;
    
}
.bmipic{
    height:125px;
    width:125px;
    border-radius: 6px;
    padding: 30px;
    text-align: center;
    display:flex;
    justify-content: center;
    margin: auto;


}
.bmidesc{
    font-size: 1.8em;

    padding:30px 300px;

}
.bmipic1{
border:2px solid bisque;
background-image: url("./images/bmipic1.jpg");
height:125px;
width:125px;
border-radius: 6px;
padding: 30px;
text-align: center;
display:flex;
justify-content: center;
margin: auto;
background-size: cover;


}
.bmipic2{
border:2px solid bisque;
background-image: url("./images/bmipic2.jpg");
height:125px;
width:125px;
border-radius: 6px;
padding: 30px;
background-size: cover;
text-align: center;
display:flex;
justify-content: center;
margin: auto;


}
.bmipic3{
border:2px solid bisque;
background-image: url("./images/bmipic3.jpg");

    height:125px;
    width:125px;
    border-radius: 6px;
    background-size: cover;
    padding: 30px;
    text-align: center;
    display:flex;
    justify-content: center;
    margin: auto;

}
.resultext{
    text-align: center;
    font-size: 2.1em;
    padding: 17px;
    font-family: 'Lobster', cursive;

}
.luckdiv{
    width:100%;
    height:900px;
    background-image: linear-gradient(71deg, rgba(55, 55, 55, 0.03) 0%, rgba(55, 55, 55, 0.03) 16.667%,rgba(111, 111, 111, 0.03) 16.667%, rgba(111, 111, 111, 0.03) 33.334%,rgba(230, 230, 230, 0.03) 33.334%, rgba(230, 230, 230, 0.03) 50.001000000000005%,rgba(129, 129, 129, 0.03) 50.001%, rgba(129, 129, 129, 0.03) 66.668%,rgba(77, 77, 77, 0.03) 66.668%, rgba(77, 77, 77, 0.03) 83.33500000000001%,rgba(190, 190, 190, 0.03) 83.335%, rgba(190, 190, 190, 0.03) 100.002%),linear-gradient(281deg, rgba(176, 176, 176, 0.03) 0%, rgba(176, 176, 176, 0.03) 16.667%,rgba(192, 192, 192, 0.03) 16.667%, rgba(192, 192, 192, 0.03) 33.334%,rgba(74, 74, 74, 0.03) 33.334%, rgba(74, 74, 74, 0.03) 50.001000000000005%,rgba(169, 169, 169, 0.03) 50.001%, rgba(169, 169, 169, 0.03) 66.668%,rgba(34, 34, 34, 0.03) 66.668%, rgba(34, 34, 34, 0.03) 83.33500000000001%,rgba(5, 5, 5, 0.03) 83.335%, rgba(5, 5, 5, 0.03) 100.002%),linear-gradient(196deg, rgba(98, 98, 98, 0.03) 0%, rgba(98, 98, 98, 0.03) 16.667%,rgba(208, 208, 208, 0.03) 16.667%, rgba(208, 208, 208, 0.03) 33.334%,rgba(63, 63, 63, 0.03) 33.334%, rgba(63, 63, 63, 0.03) 50.001000000000005%,rgba(180, 180, 180, 0.03) 50.001%, rgba(180, 180, 180, 0.03) 66.668%,rgba(200, 200, 200, 0.03) 66.668%, rgba(200, 200, 200, 0.03) 83.33500000000001%,rgba(59, 59, 59, 0.03) 83.335%, rgba(59, 59, 59, 0.03) 100.002%),linear-gradient(35deg, rgba(233, 233, 233, 0.03) 0%, rgba(233, 233, 233, 0.03) 16.667%,rgba(26, 26, 26, 0.03) 16.667%, rgba(26, 26, 26, 0.03) 33.334%,rgba(186, 186, 186, 0.03) 33.334%, rgba(186, 186, 186, 0.03) 50.001000000000005%,rgba(162, 162, 162, 0.03) 50.001%, rgba(162, 162, 162, 0.03) 66.668%,rgba(254, 254, 254, 0.03) 66.668%, rgba(254, 254, 254, 0.03) 83.33500000000001%,rgba(245, 245, 245, 0.03) 83.335%, rgba(245, 245, 245, 0.03) 100.002%),linear-gradient(294deg, rgba(157, 157, 157, 0.01) 0%, rgba(157, 157, 157, 0.01) 12.5%,rgba(125, 125, 125, 0.01) 12.5%, rgba(125, 125, 125, 0.01) 25%,rgba(120, 120, 120, 0.01) 25%, rgba(120, 120, 120, 0.01) 37.5%,rgba(19, 19, 19, 0.01) 37.5%, rgba(19, 19, 19, 0.01) 50%,rgba(111, 111, 111, 0.01) 50%, rgba(111, 111, 111, 0.01) 62.5%,rgba(140, 140, 140, 0.01) 62.5%, rgba(140, 140, 140, 0.01) 75%,rgba(114, 114, 114, 0.01) 75%, rgba(114, 114, 114, 0.01) 87.5%,rgba(94, 94, 94, 0.01) 87.5%, rgba(94, 94, 94, 0.01) 100%),linear-gradient(19deg, rgba(217, 217, 217, 0.02) 0%, rgba(217, 217, 217, 0.02) 20%,rgba(105, 105, 105, 0.02) 20%, rgba(105, 105, 105, 0.02) 40%,rgba(252, 252, 252, 0.02) 40%, rgba(252, 252, 252, 0.02) 60%,rgba(1, 1, 1, 0.02) 60%, rgba(1, 1, 1, 0.02) 80%,rgba(232, 232, 232, 0.02) 80%, rgba(232, 232, 232, 0.02) 100%),linear-gradient(90deg, rgb(22, 94, 235),rgb(126, 195, 9));
}
.lucktest{
    color:-webkit-linear-gradient(90deg,#165EEB,#7EC309);
    
    font-size:6em;
    letter-spacing:0.09em;
    font-weight: bold;
      font-family: 'Chinese Rocks Free', arial;
    padding-top:95px;

    text-align: center;

}
.luckdesc{
    font-size: 2.5em;
    text-align:center ;
    padding-top:30px;
    padding-bottom:30px;
      font-family: 'Chinese Rocks Free', arial;
}
.luckbtn{
    text-align: center;
    font-size: 2em;
    border:1.5px solid black;
      font-family: 'Chinese Rocks Free', arial;
    display: flex;
    justify-content: center;
    margin: auto;
    
}
.luckresult,.luckcmt{
    text-align: center;
    font-size: 1.8em;
    padding-top: 25px;
    color:chartreuse;

}
.luckline{
    text-align: center;
    font-size: 1.8em;
    padding-top: 25px;
}

.musictext{
    font-size: 3em;
    padding: 20px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    color: rgb(32, 199, 143);
    font-weight:bold ;

    
}
.music1,.music2,.music3,.music4{
    display: flex;
    justify-content: space-around;
    padding:10px;
    
    box-sizing:  border-box;
}
.musicicons{
    height:200px;
    width:200px;
    border-radius: 5px;
    border: 2px solid black;
    padding:30px;
    display: flex;
    justify-content:center;
    text-align: center;
    margin: auto;

}
#drums{
    background-image: url("./images/drums.png");
    background-size: cover;
}
#keyboard{
    background-image: url("./images/keyboard.jpg");
    background-size: cover;
}
#flute{
    background-image: url("./images/flute.png");
    background-size: cover;
}
#guitar{
    background-image: url("./images/guitar.png");
    background-size: cover;   
}
.musicname{
    font-size: 3em;
    font-weight: bold;
    padding:10px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}
.mucisbtn{
    font-size: 2em;
    margin-top:40px;
    font-weight:bold ;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    border-radius:0px;
    border:none;
    box-shadow: 5px 5px black;
    background-color: chartreuse;
    color:#283149;


}
.musicexcited{
    font-size: 2em;
    margin-top:40px;
    font-weight:bold ;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    border-radius:0px;
    border-right: 3px solid rgb(42, 82, 2) ;
    border-right: 3px solid rgb(42, 82, 2);
    background-color: chartreuse;
    opacity: 0.4;
    color:#283149;

}

.closer{
    font-size: 1em;
    color:greenyellow;
    text-align:center ;
    font-family: 'Chinese Rocks Free', arial;

}
.link{
    font-size: 1em;
    color:tomato;
    text-align:center;
    margin:auto;
      font-family: 'Chinese Rocks Free', arial;
}
